body {
  background-color: white;
}

.line-blue {
  border: 3px solid blue;
  padding: 50px;
  margin: 50px;
  width: 400px;
  border-radius: 20px 20px 20px 20px;
  margin: 0 auto;
}

.line-green {
  border: 3px solid green;
  padding: 50px;
  margin: 50px;
  width: 400px;
  border-radius: 20px 20px 20px 20px;
  margin: 0 auto;
}
