a {
    color: #000;
    text-decoration: none;
}

.list a {
    font-size: 20px;
    /*bold or 700*/
    font-weight: bold;
    color: skyblue;
}

.line-green {
    border: 5px solid green;
}

.line-red {
    border: 5px solid red;
    width: 500px;
    margin: 0 auto;
}

.line-blue {
    border: 5px solid blue;
    padding: 50px;
    margin: 50px;
    width: 400px;
}

.box {
    height: 1000px;
    /*좌.상 -> 우.상 -> 우.하 -> 좌.하*/
    border-radius: 0px 0px 30px 30px;
}


