.one {
  background-color: aquamarine;
  width: 1000px;
  height: 100px;
  margin: 0 auto;
}

.two {
  background-color: cornflowerblue;
  width: 200px;
  height: 500px;
  
}

.three {
  background-color: coral;
  width: 800px;
  height: 500px;
}

.four {
  background-color: lightgreen;
  width: 1000px;
  height: 200px;
  margin: 0 auto;
}