* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

.global-header {
  display: flex;
  /*수평 양 끝 정렬*/
  justify-content: space-between;
  /*수직 가운데 정렬*/
  align-items: center;
  /*padding 상하, 좌우 */
  padding: 12xp 20px;
  background-color: #333;
}

.logo img {
  width: 60px;
}

.gnb-list {
  display: flex;
  justify-content: space-between;
  width: 320px;
}

.gnb-list li a {
  color: #fff;
  font-weight: 700;
  /* padding: 0 20px; */
}

.gnb-list li a:hover {
  color: dodgerblue;
  text-decoration: underline;
}

.back-img {
  height: 600px;
  background-image: url(./사진/배경화면.jfif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.back-txt {
  display: flex;
  /*수직 정렬 (row:수평정렬)*/
  flex-direction: column;
  /*가운데 정렬*/
  justify-content: center;
  align-items: center;
  /* align-items 같이 안써도 됨
   text-align: center; */
  height: 600px;
  color: #fff;
}

.back-txt p,
.back-txt button {
  margin-top: 20px;
  font-size: 18px;
} 

/* 둘이 따로 작성 가능
.back-txt p {
  margin-top: 20px;
  font-size: 18px;
} 
/*.back-txt button {
  margin-top: 20px;
}*/

.back-txt button {
  padding: 12px;
  border-radius: 8px;
}

.second-box {
  width: 500px;
  /* marjin : top right bottom left*/
  margin: -66px auto  0 auto;
  /*top,bottom left right*/
  padding: 40px 36px;
  text-align: center;
  color: #fff;
  /* 모서리 */
  border-radius: 20px;
  background-color: #000; 
}

.second-box p {
  /* 간격 */
  margin-top: 20px;
}

.card-list {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.card-list div {
  width: 300px;
  /* 사이 간격 */
  margin: 0 20px;
  padding: 50px 16px;
  color:#fff;
  background-color: #000;
  border-radius: 20px;
  text-align: center;
}

.card-list p { 
  margin-top: 20px;
}

.global-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  padding: 12px 20px;
  background-color: #333;
  color: #fff;
}

.footer-link {
  display: flex;
}

.footer-link a {
  color: #fff;
   /* 사이 간격 */
  padding: 0 12px;
}

@media screen and(max-width : 768px) {


}
